.topRow {
    width: 100%;
    height: 15%;
    background-color: #669900;
    margin: 0px;
}

.logIn {
    float: right;
}

.topSearch {
    width: 700px;
    float:right;
    padding-right: 20px;
}

.sidepanel  {
  width: 0;
  position: fixed;
  z-index: 1;
  height: 100%;
  top: 0;
  left: 0;
  background-color: #99ebff;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
}

.sidepanel .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  color: black;
  font-size: 36px;
}

.openbtn {
  font-size: 20px;
  cursor: pointer;
  background-color: #ace600;
  color: black;
  padding: 10px 15px;
  margin-left: 20px;
  border: none;
  border-radius: 12px;
}

.openbtn:hover {
  background-color:#bfff00;
}

.title {
    font-size: 40px;
    font-family: Comic Sans MS;
    color: white;
}

.logo {
    width: 70px;
    height: 70px;
    box-sizing: border-box;
    border-radius: 50%;
    margin: 15px;
 }

 .favLink {
    margin-left:200px;

    border-bottom: 0px;
    margin-bottom: 0px;

    font-size: 17px;
    font-family: Comic Sans MS;
    color: white;
 }

.search-container {
    text-align: right;
    padding-right: 0px;
    margin-top: 30px;
    font-size: 17px;
    font-family: Comic Sans MS;
    cursor: pointer;
}

.vid_img {
    width: 235px;
    height: 280px;
    object-fit: cover;
}

.type_box {
    width: 200px;
    height: 40px;
    border-radius: 12px;
    font-family: Comic Sans MS;
    border: solid;
}

.type_box:focus {
    background-image: url("../img/search_frog.jpg");
    background-size: 30px 50px;
    background-color: white;
    background-position: 10px 0px;
    background-repeat: no-repeat;
    padding: 12px 20px 12px 40px;
}

.search_button{
    height: 40px;
    width: 70px;
    background-color: #ace600;
    border-radius: 12px;
}

.search_button:hover {
    background-color: #bfff00;
}

.leading_filter {
    width: 200px;
    padding: 10px;
    margin: 30px 10px 10px;
    background: #88cc00;
    font-family: Comic Sans MS;
    border-radius: 12px;
}

.filter {
    width: 200px;
    padding: 10px;
    margin: 0px 10px 10px;
    background: #88cc00;
    font-family: Comic Sans MS;
    border-radius: 12px;
}

.sort {
    width: 200px;
    padding: 10px;
    margin: 10px 10px 10px;
    background: #00b300;
    font-family: Comic Sans MS;
    border-radius: 12px;
}

.sideBarFrog {
    width: 100px;
    height: 100px;
    margin: 80px 20px 10px;
    border-radius: 12px;
    float: right;
}

.addBtn {
    border-radius: 100%;
    background-color: #ffcb15;
    float: right;
    width: 50px;
    height: 50px;
    font-size: 30px;
    margin-right: 30px;
    margin-top: 40px;
    border-style: none;
    box-shadow: lightslategrey;
}

.addBtn:hover {
    background-color: gold;
    transform: scale(1.1);
}

.watchBtn {
  padding: 8px;
  background-color: #669900;
  color: white;
  cursor: pointer;

  font-weight: bold;
  font-family: Comic Sans MS;
}

.stBtn {
    padding: 8px;
    background-color: #99cc00;
    color: white;
    cursor: pointer;

    font-weight: bold;
    font-family: Comic Sans MS;
}


.watchBtn:hover {
  background-color: #88cc00;
}

.card {
    width: 280px;
    height: 510px;
    margin-left: 20px;
    margin-top: 40px;
    font-size: 14px;
    font-family: Comic Sans MS;
    float: left;
 }

.card-title {
    font-weight: bold;
    color: black;
    margin-top: 20px;
    font-size: 18px;
    display: inline-block;
}

.quickFilter {
    padding: 5px;
    margin: 0px 0px 20px 0px;
    border-radius: 12px;
    border: none;
    background-color: #ffcb15;
    display: inline-block;
 }

 .quickFilter:hover {
   transform: scale(1.3); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
 }

 .favBtn {
    width: 30px;
    height: 30px;
    margin-left: 10px;
    display: inline-block;
    margin-right: 0px;
 }

.imgContainer {
    position: relative;
    color: white;
}

.BottomRightYear {
  position: absolute;
  bottom: 8px;
  right: 20px;
}

.BottomRightYear {
    position: absolute;
    bottom: 8px;
    left: 20px;
}

.clearBtn {
      border-radius: 10px;
      background-color: indianred;
      margin-left: 10px;
      margin-top: 50px;
      color: white;
      font-family: Comic Sans MS;
}

.clearBtn:hover {
    background-color: lightsalmon;
    transform: scale(1.1); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
}

