<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Add Movie</title>
    <link href="/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="/css/MainPage.css">
    <link rel="stylesheet" href="/css/AddMovie.css">
    <title>Add Movie</title>
</head>


<body>
    <div class="topRow"> <!--row-->
        <a href="/">
            <img src="/img/logo.jpg" class="logo sub" alt="froggo">
        </a>
        <a href="/" class="title">Add Video</a>
    </div>

    <div class="addForm">
    <form th:action="@{/addmovie}" method="post" enctype="multipart/form-data">

        <div class="form-group">
            <h class="label">Title</h>
            <input name="title" type="text" class="form-control" placeholder="please input title" value="title">
        </div>

        <div class="form-group">
            <h class="label">Date</h>
            <input name="date" type="date" class="form-control" placeholder="please input date" value="date">
        </div>

        <div class="form-group">
            <h class="label">Rating</h>
            <input name="rating" type="int" class="form-control" placeholder="please input Rating 1-10"
                   value="rating">
        </div>

        <div class="form-group">
            <h class="label">Region</h> <br/>
            <input name="region" type="checkbox" value="American">American <br/>
            <input name="region" type="checkbox" value="European">European <br/>
            <input name="region" type="checkbox" value="Chinese">Chinese <br/>
            <input name="region" type="checkbox" value="Japanese">Japanese <br/>
            <input name="region" type="checkbox" value="Korean">Korean <br/>
            <input name="region" type="checkbox" value="Hindi">Hindi <br/>
        </div>

<!--        <div class="form-group">-->
<!--            <h class="label">Region</h>-->
<!--            <input name="region" type="text" class="form-control" placeholder="please input region"-->
<!--                   value="region">-->
<!--        </div>-->

        <div class="form-group">
            <h class="label">Genre</h> <br/>
                <input name="genre" type="checkbox" value="Action">Action<br/>
                <input name="genre" type="checkbox" value="Comedy">Comedy<br/>
                <input name="genre" type="checkbox" value="Thriller">Thriller<br/>
                <input name="genre" type="checkbox" value="Sci-Fi">Sci-Fi<br/>
                <input name="genre" type="checkbox" value="Romance">Romance<br/>
                <input name="genre" type="checkbox" value="Musical">Musical<br/>
                <input name="genre" type="checkbox" value="Drama">Drama<br/>
                <input name="genre" type="checkbox" value="Fantasy">Fantasy<br/>
        </div>

<!--        <div class="form-group">-->
<!--            <h class="label">Genre</h>-->
<!--            <input name="genre" type="text" class="form-control" placeholder="please input genre"-->
<!--                   value="genre">-->
<!--        </div>-->

        <div class="form-group">
            <h class="label">Video Type</h> <br/>
                <input name="type" type="checkbox" value="Movie">Movie<br/>
                <input name="type" type="checkbox" value="TV Show">TV Show<br/>
                <input name="type" type="checkbox" value="Animation">Animation<br/>
        </div>

        <div class="form-group">
            <h class="label">Video Type</h>
            <input name="videotype" type="text" class="form-control" placeholder="please input video type"
                   value="type">
        </div>

        <div class="form-group">
            <h class="label">Description</h> <br/>
            <textarea name="description" type="text" class="form-control longInput" placeholder="please input description"
                      value="description"></textarea>
        </div>

        <div class="form-group">
            <h class="label">Comment</h> <br/>
<!--            <input name="comment" type="text" class="form-control longInput" placeholder="please input comments" value="comment">-->
            <textarea name="comment" type="text" class="form-control longInput" placeholder="please input comments"
                      value="comment"></textarea>
        </div>

        <div class="form-group">
            <h class="label">Photo</h>
            <input type="file" name="file" class="form-control" placeholder="photo"/>
        </div>

        <div>
            <input class="submitBtn" type="submit" value="Submit">
        </div>
    </form>
    </div>
</body>
</html>