<!DOCTYPE html>
<html lang="en">
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../static/css/MainPage.css">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script src="jquery-3.5.1.min.js"></script>
    <title>Avatar</title>
</head>
<body>

    <header class="container-fluid">
        <div class="topRow"> <!--row-->
            <a href="MainPage.html">
                <img src="../static/img/logo.jpg" class="logo sub" alt="froggo">
            </a>
            <a href="MainPage.html" class="title">My Episodes</a>
            <div class="topSearch"> <!--col-sm-7-->
            </div>
        </div>
    </header>

    <!--<div class="mainDescrp">-->
    <h1 class="descrTitle">Avatar <span class="year">(2009)</span></h1>

    <div class="descrpContainer">

    <div class="slideshow-container">
        <div class="mySlides ">
            <img class="slideImg" src="../static/img/Avatar/1.jpg">
        </div>

        <div class="mySlides ">
            <img class="slideImg" src="../static/img/Avatar/2.jpg">
        </div>

        <div class="mySlides ">
            <img class="slideImg" src="../static/img/Avatar/3.jpg">
        </div>

        <!--<a class="prev" onclick="plusSlides(-1)">&#10094;</a>
        <a class="next" onclick="plusSlides(1)">&#10095;</a>-->
        <div class="dots">
            <span class="dot"></span>
            <span class="dot"></span>
            <span class="dot"></span>
        </div>
    </div>

    <div class="descrpText">
        <blockquote class="blockquote">
            <p>
                On the lush alien world of Pandora live the Na'vi, beings who appear primitive but are highly evolved.
                Because the planet's environment is poisonous, human/Na'vi hybrids, called Avatars, must link to human minds
                to allow for free movement on Pandora. Jake Sully (Sam Worthington), a paralyzed former Marine, becomes
                mobile again through one such Avatar and falls in love with a Na'vi woman (Zoe Saldana). As a bond with her
                grows, he is drawn into a battle for the survival of her world.
            </p>
            <footer class="blockquote-footer" style="background: white">From Google</footer>
        </blockquote>

    </div>
    </div>




    <script src="../static/js/myScript.js"></script>
</body>
</html>