<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Edit Movie</title>
    <link href="/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="/css/MainPage.css">
    <link rel="stylesheet" href="/css/AddMovie.css">
</head>
<body>
<div class="topRow"> <!--row-->
    <a href="/">
        <img src="/img/logo.jpg" class="logo sub" alt="froggo">
    </a>
    <a href="/" class="title">Edit Video Information</a>
</div>

<div class="addForm">

    <form method="post" th:action="@{/movie/}+${movie.id}" enctype="multipart/form-data">
        <!--发送put请求修改员工数据-->
        <!--
        1、SpringMVC中配置HiddenHttpMethodFilter;（SpringBoot自动配置好的）
        2、页面创建一个post表单
        3、创建一个input项，name="_method";值就是我们指定的请求方式
        -->

        <input type="hidden" name="_method" value="put"/>
        <input name="id" th:value="${movie.id}" type="hidden"/>

        <div class="form-group">
            <h class="label">Title</h>
            <input name="title" type="text" class="form-control" placeholder="please input title" th:value="${movie.title}">
        </div>

        <div class="form-group">
            <h class="label">Date</h>
            <input name="date" type="date" class="form-control" placeholder="please input date" th:value="${movie.date}">
        </div>

        <div class="form-group">
            <h class="label">Rating</h>
            <input name="rating" type="int" class="form-control" placeholder="please input Rating 1-10"
                   th:value="${movie.rating}">
        </div>

        <div class="form-group">
            <h class="label">Region</h> <br/>
            <input name="region" type="checkbox" value="American">American <br/>
            <input name="region" type="checkbox" value="European">European <br/>
            <input name="region" type="checkbox" value="Chinese">Chinese <br/>
            <input name="region" type="checkbox" value="Japanese">Japanese <br/>
            <input name="region" type="checkbox" value="Korean">Korean <br/>
            <input name="region" type="checkbox" value="Hindi">Hindi <br/>
        </div>

<!--        <div class="form-group">-->
<!--            <h class="label">Genre</h>-->
<!--            <input name="genre" type="text" class="form-control" placeholder="please input genre"-->
<!--                   th:value="${movie.genre}">-->
<!--        </div>-->

        <div class="form-group">
            <h class="label">Genre</h> <br/>
            <input name="genre" type="checkbox" value="Action">Action<br/>
            <input name="genre" type="checkbox" value="Comedy">Comedy<br/>
            <input name="genre" type="checkbox" value="Thriller">Thriller<br/>
            <input name="genre" type="checkbox" value="Sci-Fi">Sci-Fi<br/>
            <input name="genre" type="checkbox" value="Romance">Romance<br/>
            <input name="genre" type="checkbox" value="Musical">Musical<br/>
            <input name="genre" type="checkbox" value="Drama">Drama<br/>
            <input name="genre" type="checkbox" value="Fantasy">Fantasy<br/>
        </div>

<!--        <div class="form-group">-->
<!--            <h class="label">Video Type</h>-->
<!--            <input name="videotype" type="text" class="form-control" placeholder="please input video type"-->
<!--                   th:value="${movie.videotype}">-->
<!--        </div>-->

        <div class="form-group">
            <h class="label">Video Type</h> <br/>
            <input name="type" type="checkbox" value="Movie">Movie<br/>
            <input name="type" type="checkbox" value="TV Show">TV Show<br/>
            <input name="type" type="checkbox" value="Animation">Animation<br/>
        </div>

        <div class="form-group">
            <h class="label">Description</h> <br/>
            <textarea name="description" type="text" class="form-control longInput" placeholder="please input description"
                      th:text="${movie.description}"></textarea>
        </div>

        <div class="form-group">
            <h class="label">Comment</h> <br/>
            <textarea name="comment" type="text" class="form-control longInput" placeholder="please input comments"
                      th:text="${movie.comment}"></textarea>
        </div>

        <div class="form-group">
            <h class="label">Photo</h>
            <input type="file" name="file" class="form-control" placeholder="photo"/>
        </div>

        <div>
            <input class="submitBtn" type="submit" value="Submit">
        </div>

    </form>
</div>


</body>
</html>
